<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="navbar-header">Workouts</div>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-info navbar-btn btn-xs"><%= link_to "Log Out", log_out_path %></button>
          </div>
        </div>
    </div>
</nav>
<div class="container">
  	<div class="row">
	    <div class="col-sm-1"></div>
		<div class="col-sm-8">
		  	<h3 class='blue'>New user</h3>
	 	</div>
	</div>
		<%= render 'form' %>
	  </br>
	</br>

	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><footer><%= link_to 'Back', videos_path %></footer></div>
	</div>
</div>