<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Workout Charts</div>
    </div>
</nav>
<h3 class="blue">Chart I - Workout Time by Series</h3></div>
</br>


<figure class="chart">
  <canvas id="chart-0" width=250 height=250>
        <%= pie_chart @data %>
  </canvas>
  <!-- legend rendered here -->
</figure>
</br>
<h3 class="blue"> Chart II - Average Time Per Workout by Video Name </h3>
</br>
<script type="text/javascript">
(function() {
    var initChart = function() {
    var data = {
    datasets: [
        {
            label: "January",
            fillColor: "#FFFF99",
            strokeColor: "#FFFF99",
            pointColor: "#FFFF99",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "#FFFF99",
            data: <%= @average_array %>
        }
    ],  
    <!-- the bar chart is set to have multiple series, so each category has the same color -->
    labels:  ["30 Day Shred II", "30 Day Shred III", "6 Week Six Pack", "Banish Fat Cardio", "Body Revolution I-1", "Ripped in 30 I", "Ripped in 30 II", "Ripped in 30 IV"]
    <!-- the videos array should map to the chart variables, but is not currently working -->
};
      var opts = {"scaleFontSize":10};
      if (!("animation" in opts)) {
        opts['animation'] = (typeof Modernizr == "undefined") || Modernizr.canvas;
      }
      var canvas = document.getElementById("chart-1");
      var ctx = canvas.getContext('2d');
      var chart = new Chart(ctx).Bar(data, opts);
      window.Chart["chart-0"] = chart;

       var legend = chart.generateLegend();
      var legendHolder = document.createElement("div");
      legendHolder.innerHTML = legend;
      canvas.parentNode.insertBefore(legendHolder.firstChild, canvas.nextSibling);
    };
        if (window.addEventListener) {
      window.addEventListener("load", initChart, false);
      document.addEventListener("page:load", initChart, false);
    }
    else if (window.attachEvent) {
      window.attachEvent("onload", initChart);
      document.attachEvent("page:load", initChart);
    }
  })();
 </script>
<canvas id="chart-1" width=400 height = 400></canvas>
</br>
<div class ="container">  
  <div class="row">
    <div class ="col-sm-5">
      <button type="button" class="btn btn-default"><%= link_to 'Workout Record', workouts_path %></button>
      <button type="button" class="btn btn-default"><%= link_to 'Video List', videos_path %></button>
  </div>
</div>
