<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Workouts</div>
     </div>
</nav>
<h3>Edit workout</h3>

<%= render 'form' %>

<%= link_to 'Show', @workout %> |
<%= link_to 'Back', workouts_path %>
