// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div { &.boxed {
	border: solid black thin;
	padding: 1 px;
	background-color: white;
	}
	&.highlight {
	font-weight: bold;
	background-color: #FFFFCC;
	}
	&.accent:hover {
	text-decoration: underline;
	background-color: #B8DBFF;
	}
	&.header {
	font-weight: bold;
	}
	&.blue {
	color: #1959BA;
	}
	&.navbar-header {
 	font-weight: bold;
	}
}

.workout-form {
	display: none;
}



h3 { &.blue
	{
	color: #1959BA;
	}
}