<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="navbar-header">Workouts</div>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-info navbar-btn btn-xs"><%= link_to "Log Out", log_out_path %></button>
          </div>
        </div>
    </div>
</nav>

<div class="container">
  	<div class="row">
	    <div class="col-sm-2"></div>
		<div class="col-sm-8">
		  	<h3 class='blue'>Edit Workout</h3>
	 	</div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8"><%= render 'form' %></div>
	</div> 
	</br>
	<div class="row">
		<div class="col-sm-5"></div>
	    <div class ="col-sm-5">
	    	<footer>
	    		<%= link_to 'Show', @workout%> | 
	        	<%= link_to 'Workout Record', workouts_path %>
	        </footer>
	    </div>
	</div>
</div>
