// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
 	font-weight: bold;
	color: black;
	font-size: 18px;

}

h3 { &.blue
	{
	color: #1959BA;
	}
}

div { &.boxed {
	border: solid black thin;
	padding-left: 10px;
	background-color: white;
	}

	&.accent:hover {
	text-decoration: underline;
	background-color: #B8DBFF;
	}

	&.container {
	padding-top: 5px;
	}

	&.title {
	font-weight: bold;
	}

	&.highlight {
	background-color: #B8DBFF;
	font-weight: normal;
	}
}

.workout-detail {
	display: none;
	border: solid black thin;
	padding-left: 2px;
}
