<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="navbar-header">Workouts</div>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-info navbar-btn btn-xs"><%= link_to "Log Out", log_out_path %></button>
          </div>
        </div>
    </div>
</nav>
<h3 class="blue">Chart I - # Of Videos Using Core Muscle Groups</h3>

</br>
	<figure class="chart">
	  <canvas id="chart-0" width=300 height=300>
	  	<%= doughnut_chart @data %>
	  </canvas>
	</figure>
	
</br>
	<div class="row">
		<div class ="col-sm-5">
			<button type="button" class="btn btn-primary"><%= link_to 'Video List', videos_path %></button>
			<button type="button" class="btn btn-primary"><%= link_to 'Workout Record', workouts_path %></button>
	</div>
</div>