<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Workouts</div>
     </div>
</nav>
<h3>Edit video</h3>

<%= render 'form' %>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path %>
