<div class="row">
     <div class="col-sm-4"><%= link_to workout.date_completed, workout %></div>
    <div class="col-sm-5"><%= link_to workout.video.name, workout.video %></div>
    <div class="col-sm-3"><%= workout.video.length %> minutes </div>
</div>
